<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{potato?.category?.title}} : Point Value {{potato?.value}}</h3>
  </div>
  <div class="panel-body">
    Question
  </div>
  <div class="panel-body">
    <form class="form-inline questionForm">
      <div class="form-group test">
        <div class="input-group">
          <div class="input-group-addon">What is...</div>
          <input type="text" class="form-control" id="inputAnswer" placeholder="..............">
          <div class="input-group-addon">?</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit Answer</button>
    </form>
  </div>
</div>